footer.footer
	a.link._link(href="#" target="_blank" rel="noopener noreferrer") #visitSEDONA
	ul.socials._socials.page__no-list
		each social of socials
			li
				a.button._link(href=social.link, target="_blank" rel="noopener noreferrer" title=social.text aria-label=social.text)
					+spriteIcon({href: `img/sprite.svg#${social.icon}`, width: 24})
	small._copyright
		a.link.copyright(href="https://htmlacademy.ru/intensive/adaptive" target="_blank" rel="noopener noreferrer")="Разработано "
			+spriteIcon({href: `img/sprite.svg#academy`, width: 28, height: 35, label: "HTML Академией.", id: 'academy'})
