-
	const isMainPage = currentPage === 'index.html'
header.header
	a(href=!isMainPage && 'index.html',
		tabindex=!isMainPage && -1)._logo
		img(src='img/logo-city-of-sedona.svg' width=185 height=96 alt='Герб Седоны.')

	nav._nav
		button.burger._toggle(type='button' aria-label='Открыть меню' hidden=true aria-expanded='false' aria-controls='main-nav')
			- const size = 23, strokeWidth = 4, gap = 5
			svg(width=size height=size stroke="currentColor" stroke-width=strokeWidth viewBox=`0 0 ${size} ${size}`)
				each name, index in ["top", "middle", "bottom"]
					-const y = 2 + (gap + strokeWidth) * index
					line._line(class=`burger__line--${name}` x1=0 y1=y x2=size y2=y)
		ul._list.page__no-list#main-nav
			each href, text in navigation
				- const isCurrentPage = currentPage === href
				li._item
					a._link(href=href, aria-current=isCurrentPage && 'page')=text
