section.advantages
	h2.page__hidden Преимущества.
	p._header
		strong.page__subtitle._title Седона — небольшой городок в Аризоне, заслуживающий большего!
		| Рассмотрим 5 причин, по которым Седона круче, чем Гранд-Каньон!
		ol._list.page__no-list
			each advantage in advantages
				if !advantage.image
					li.advantage
						h3.page__subtitle._title=advantage.title
						p._text=advantage.description
				else
					li._full
						figure.advantages__panorama
							img.advantages__image(src=`img/${advantage.image}` alt=advantage.title width=320 height=260)
							.advantage
								h3.page__subtitle._title=advantage.title
								p._text=advantage.description

						if advantage.sublist
							ul.advantages__sublist.page__no-list
								each subadvantage in advantage.sublist
									li.subitem
										+placeholderIcon({width: 40, fill: '#81B3D2'})
										h4._title._subtitle=subadvantage.title
										p._text=subadvantage.description
