form.review(action='https://echo.htmlacademy.ru/' method='post')
	._header
		h1.page__title._title Оставьте свой отзыв
		p._subtitle Помогите нашим отелям стать лучше! Оставьте отзыв о них, а также о посещенных вами достопримечательностях

	._two-columns

		fieldset._set
			legend.page__subtitle._legend  Представьтесь
			each data in review.personal
				p.input
					label._label(for=data.id)=data.label
						if data.required
							a.link(href="#req-note" aria-hidden="true" tabindex=-1) *
					input._field(id=data.id name=data.id placeholder=data.placeholder  value=data.value type='text' autocomplete=data.autocomplete required=data.required)

		fieldset._set
			legend.page__subtitle._legend Контактная информация
			each data in review.contacts
				p.input
					label._label(for=data.id)=data.label
						if data.required
							a.link(href="#req-note" aria-hidden="true" tabindex=-1) *
					span._wrapper
						input._field.-icon(id=data.id name=data.id placeholder=data.placeholder type=data.type autocomplete=data.type required=data.required)
						span._icon
							+placeholderIcon({width: 18})

	fieldset._set.-border
		legend.page__subtitle._legend Ваше общее впечатление
		ul._radios.page__no-list
			each option in review.impression
				li
					label.choose
						input._input(type='radio' name='impression' value=option.value checked=option.checked)
						| #{option.label}

	fieldset._set.-border
		legend.page__subtitle._legend Посещенные достопримечательности
		ul._checks.page__no-list
			each option in review.attractions
				li
					label.choose
						input._input(type='checkbox' name='attractions' value=option.value checked=option.checked)
						| #{option.label}

	fieldset._set.-border.input
		legend#emotions-title.page__subtitle._legend Опишите свои эмоции
		textarea.input__field.-textarea.review__area(name='extra' placeholder='Опишите подробно все свои восторги' required rows=5 aria-labelledby='emotions-title')

	._footer
		button.button._submit(type='submit') Отправить отзыв
		small#req-note._note * — обязательные поля

dialog#success()
	form(method="dialog")
		h2 Тут будет заговолок
		p Тут будет текст
		button.button() Закрыть
